.layout-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* TOPBAR */
app-topbar {
    height: var(--topbar-height);
    flex-shrink: 0;
    display: block;
    z-index: 1000;
}

/* MAIN FLEX AREA */
.layout-container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

/* SIDEBAR */
app-sidebar {
    width: 250px;
    flex-shrink: 0;
}

/* MAIN CONTENT */
.main-content {
    flex: 1;
    overflow-y: auto;
    margin: 20px;
    margin-left: 25px;
    padding: 20px;
    background: #f5f6fa;
    border: 2px solid #e1e1e1;
    border-radius: 1%;
}