.sidebar {
    width: 260px;
    height: calc(100vh - var(--topbar-height));
    background: var(--sidebar-bg);
    color: var(--sidebar-text);
    padding: 10px 0;
    overflow-y: auto;
    scrollbar-width: none;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 12px 18px;
    gap: 12px;
    cursor: pointer;
    font-size: 15px;
    color: var(--sidebar-text);
}

.menu-item mat-icon {
    color: var(--default-color);
}

.menu-item:hover {
    background: var(--sidebar-hover);
}

.expandable {
    justify-content: space-between;
}

.arrow {
    transition: 0.2s ease-in-out;
}

.arrow.rotate {
    transform: rotate(180deg);
}

.submenu {
    margin-left: 45px;
    margin-bottom: 5px;
}

.submenu-item {
    padding: 8px 0;
    cursor: pointer;
    color: var(--sidebar-text);
    font-size: 14px;
}

.submenu-item:hover {
    color: #dfe6e9;
}


.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 18px;
    cursor: pointer;
    color: var(--sidebar-text);
}

.menu-item .left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.submenu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 0;
    cursor: pointer;
    color: var(--sidebar-text);
}

.arrow {
    transition: 0.2s;
}

.arrow.rotate {
    transform: rotate(180deg);
}