<div class="table-wrapper">
    <p-table [value]="data" [paginator]="true" [rows]="10" [resizableColumns]="true" styleClass="w-full h-full" stripedRows>
        <!-- HEADER -->
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>

        <!-- BODY -->
        <ng-template pTemplate="body" let-row>
            <tr>
                <td *ngFor="let col of columns">

                    <!-- TEXT -->
                    <span *ngIf="col.type === 'text' || !col.type">
                        {{ row[col.field] }}
                    </span>

                    <!-- DATE -->
                    <span *ngIf="col.type === 'date'">
                        {{ row[col.field] | date: 'MMM d, y' }}
                    </span>

                    <!-- BADGE -->
                    <span *ngIf="col.type === 'badge'">
                        <p-tag severity="info" [value]="row[col.field]"></p-tag>
                    </span>

                </td>
            </tr>
        </ng-template>

    </p-table>
</div>