<p-table [value]="data" [paginator]="true" [rows]="10" [resizableColumns]="true">
    <ng-container *ngFor="let col of columns">

        <!-- Column Header -->
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">{{ col.header }}</th>
            </tr>
        </ng-template>

        <!-- Column Body -->
        <ng-template pTemplate="body" let-row>
            <tr>
                <td *ngFor="let col of columns">

                    <!-- TEXT -->
                    <span *ngIf="col.type === 'text' || !col.type">
                        {{ row[col.field] }}
                    </span>

                    <!-- DATE -->
                    <span *ngIf="col.type === 'date'">
                        {{ row[col.field] | date:'MMM d, y' }}
                    </span>

                    <!-- BADGE -->
                    <span *ngIf="col.type === 'badge'">
                        <p-tag severity="info" [value]="row[col.field]"></p-tag>
                    </span>

                </td>
            </tr>
        </ng-template>

    </ng-container>
</p-table>